/* div {
    width: 300px;
    height: 100px;
    border: 2px solid #00a087;
    background-color: #dddddd;
    border-radius: 6px;
    padding: 25px;
    margin: 25px;
    /* display:none; */
/* } */